<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<servlet>
<servlet-name>UserLoginServlet</servlet-name>
<servlet-class>test.UserLoginServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UserLoginServlet</servlet-name>
<url-pattern>/user</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>ViewTrainsServlet</servlet-name>
<servlet-class>test.ViewTrainsServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ViewTrainsServlet</servlet-name>
<url-pattern>/view</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>SelectedTrainServlet</servlet-name>
<servlet-class>test.SelectedTrainServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>SelectedTrainServlet</servlet-name>
<url-pattern>/select</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>LogoutServlet</servlet-name>
<servlet-class>test.LogoutServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>LogoutServlet</servlet-name>
<url-pattern>/logout</url-pattern>
</servlet-mapping>
<welcome-file-list>
<welcome-file>UserLogin.html</welcome-file>
</welcome-file-list>
</web-app>